<h1>TODO LIST</h1>

<div style="align:center, position: absolute">
    <%= form_for @task, url: (action: "create") do |f| %>

		<%= f.input :done , :as => :hidden,  :input_html => {:value => false }%>
   
		<%= f.input :name , :label => false, :placeholder => "Enter a new task" %>
		<%= f.button :submit,  "Add Task" %>
   	<% end %>
	
	<% unless tasks.empty? %>
	<ul>
		<% tasks.each |task| %>
			<% unless task.done %>
				
				<% form_for @task, url: (action: "list") do |f| %> 
					<li>
						<%= f.input :done, :input_html => { :class => 'box' }, :label => false %>
						<%= f.button :submit, :display => "none" %>
						
					</li>
	
	</ul>
	
</div>

